<h1>All songs</h1>

<% @songs.each do |song| %>
  <label> Song: </label> <span class=song-title><%= song.title %></span>
  <label> Artist: </label> <span class=song-artist><%= song.try(:artist).try(:name) %></span>
<label> Genre: </label> <span class=song-genre><%= song.try(:genre).try(:name) %></span>
  <ul class=song-notes>
    <% song.try(:notes).try :each do |note| %>
      <li class=song-note><%= note.content %></li>
    <% end %>
  </ul>

<% end %>


<!-- #I added labels -->
