<h1>All songs</h1>

<% @songs.each do |song| %>
  Title: <span class=song-title><%= song.title %></span><br>
  Artist: <span class=song-artist><%= song.try(:artist).try(:name) %></span><br>
  Genre: <span class=song-genre><%= song.try(:genre).try(:name) %></span><br>
  Notes: <ul class=song-notes>
    <% song.try(:notes).try :each do |note| %>
      <li class=song-note><%= note.content %></li>
    <% end %>
  </ul>
<% end %>