<h1>Songs#show</h1>

Title: <%= @song.title %>
<br />
Genre: <%= @song.genre_name %>
<br />
Artist: <%= @song.artist_name %>
<br />
<ul>Notes:
  <% @song.note_contents.each do |c| %>
    <li><%= c %></li>
  <% end %>
</ul>
