<h1>Songs#show</h1>

<p>Title: <%= @song.title %></p>
<p>Artist: <%= @song.artist.name %></p>
<p>Genre: <%= @song.genre.name %></p>
<p>Notes:</p>
<% @song.notes.each do |note| %>
  <p><%= note.content %></p>
<% end %>
