<h1><%= @song.title %></h1>

Genre: <%= @song.genre_name %>
<br>
Artist: <%= @artist.name %>
<br>

<h3>Notes: </h3>
<% @song.notes.each do |note| %>
        <%= note.content %><br><br>
        <% end %>
