<h1>Songs#show</h1>

Title: <%= @song.title %><br>
Genre:<%= @song.genre.name if @song.genre%><br>
Artist:<%= @song.artist.name if @song.artist%><br>
<% if !@song.notes.empty? %>
  <ul>
    <h4>Notes:</h4>
    <%@song.note_contents.each do |content|%>
    <li>
      <%=content%>
    </li>
    <%end%>
  </ul>
<%end%>
