<h1>Songs#show</h1>

Title: <%= @song.title %>
Artist: <%= @song.artist.name %>
Genre: <%= @song.genre.name if @song.genre %>
Notes:
<% if @song.notes %>
  <ul>
    <% @song.notes.each do |note| %>
      <li><%= note.content %></li>
    <% end %>
  </ul>
<% end %>
