<h1><%= @song.title %></h1>

<h4>Artist: <%= @song.artist_name %></h4>

<h4>Genre: <%= @song.genre_name %></h4>

<p> Notes: </p>
<ul>
<% @song.notes.each do |note| %>
  <li><%= note.content %></li>
<% end %>
</ul>
