<h1>Songs#show</h1>

Title: <%= @song.title %>
Artist: <%= @song.artist_name %><br>
Genre: <%= @song.genre_name %><br>
Notes:  <% if @song.note_contents %>
          <% @song.note_contents.each do |content| %>
            <p><%= content %></p>
          <% end %>
        <% end %>
