<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Tunes</title>

  
  </head>
  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %>
  </body>
</html>
